body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image: url(Background2.jpg);
  background-size: 1400px 3500px;
}
#wrapper {
  width: 900px;
  background: rgba(255,255,255,0.50);
  margin: 20px auto 20px auto;
}
h4,p {color: black;
margin-left: 10px;
}
h2 {
    font-size: 50px;
    font-weight: 500;
    font-kerning: inherit;
    text-align: center; 
    margin-left: 10px;
}
h5{margin-left: 10px;}

.label{
	position:relative;
	bottom: 50px;
	background: rgba(255,255,255,0.8);
	visibility: hidden;
}

.Fellowship_pics{
  margin-top:5px;
  margin-bottom:5px;}

.Fellowship_pics{
  color:#E59934;
}

.Fellowship_pics ul li {
  margin:17px;
  padding:5px;
  width: 200px;
  height:300px;
  float: left;  
  border: 1px solid darkgray;
  list-style:none;
      
}
.Fellowship_pics ul li:hover {
  border: 1px solid orange;
}

.Fellowship_pics ul li:hover .label {
  visibility: visible;
}


