.wrapper{
	background-color: rgb(220,230,241); 
}

.page-header{
	list-style-position: 2px bold; 
}

.page-header{
	font-size: 40px;
}

.wrapper {
	font-family: 'Indie Flower', cursive;
}

.main-desc{
	font-size: 20px;
}

.body{
	background-color: rgb(220,230,241);
}