

@media screen and (min-width: 768px)
.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 0px;
    padding-left: 0px;
}

@media screen and (min-width: 768px)
.jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
}

